body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.img_background__lower,
.img_background__upper,
.img_background__middle {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.img_background__upper {
  background-image: url('../img/img1.jpg');
  min-height: 100%;
}

.img_background__middle {
  background-image: url('../img/img2.jpg');
  min-height: 400px;
}

.img_background__lower {
  background-image: url('../img/img3.jpg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #666;
  color: rgb(236, 231, 231);
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.text .border.trans {
  background-color: transparent;
}

.footer {
  color: black;
  text-align: right;
  padding: 10px;
}

@media(max-width:568px) {

  .img_background__upper,
  .img_background__middle,
  .img_background__lower {
    background-attachment: scroll;
  }
}

.color-change-2x {
  -webkit-animation: color-change-2x 3s linear infinite alternate both;
  animation: color-change-2x 3s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }

  100% {
    background: #eb6941;
  }
}

@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }

  100% {
    background: #fe814c;
  }
}

.ping:hover {
  -webkit-animation: ping 2s ease-in-out infinite both;
  animation: ping 2s ease-in-out infinite both;
}

.ping__upper:hover {
  -webkit-animation: ping 2s ease-in-out both;
  animation: ping 2s ease-in-out both;
}

@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }

  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}

@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }

  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}